<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1>Welcome to Trivia! </h1>
      <h3> Please select a category of questions that you would like to answer! <br> 
        <form method = "post" action= "/questions">
          <select name="trivia-option" value="Choose your trivia type">
            <option value="Hip Hop Music">Hip-Hop Music</option>
            <option value="Movie Quotes">Movie Quotes</option>
            <option value="Animated Movies">Animated Movies</option>
            <option value="Basketball">Basketball</option>
            <option value="Physics">Physics</option>
          </select>
      <h3> How many questions would you like to answer? </h3>
        <select name="trivia-option" value="Number of Questions">
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7"> 7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
      </h3>
       <input type="submit" value= "Let's Trivia" class= "btn btn-primary btn-lg" >
      </form>
      </div>
    
  </body>
</html>
