<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name='viewport'content='width=device-width, inital scale =1'>
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1>"Topic Name"</h1>
      <p>Q1.</p>
    
    <form method = "post" action= "/results">
        
        <input type="radio" name="q1" value="q1"> q1<br>
        <input type="radio" name="q2" value="q2"> q2<br>
        <input type="radio" name="q3" value="q3"> q3<br>
         <br><br>
       <input type= "submit" class= "btn btn-primary btn-lg" > 
        
    </form>
      
    </div>
    
  </body>
</html>
