<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name='viewport'content='width=device-width, inital scale =1'>
    <title>Trivia Questions</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="container-fluid">
    <form method = "post" action= "/results">
      <%counter = 1%>
      <%@quiz_questions.each do |questions|%> <% #using iterationn to print out the question from the hash%>
        <h3><%= questions %></h3> 
        <%@user_hash.each do |question, answers|%>
          <%if questions == question%> <% #if the question matches the question in the hash it will then print out the answer choices%>
            <%answers.each do |options|%>
              <input type="radio" name="<%="options_#{counter}"%>" value="<%=options%>"><%=options%><br> 
            <%end%>
            <% counter += 1 %>
          <%end%>
        <%end%>
      <%end%>
      <input type= "submit" class= "btn btn-primary btn-lg" > 
    </form>
    </div>
    
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Trivia 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    </div>
  </body>
</html>
