header.masthead {
  text-align: center;
  color: black;
  /*background: url("../img/yellow-background.png") no-repeat center;*/
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 50px;
  padding-bottom: 50px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


header.question {
  font-size: 15px;
  text-align: left;
  color: black;
  /*background-image: url("../img/trivia-background.png");*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.result {
  font-size: 15px;
  text-align: left;
  color: black;
  /*background-image: url("../img/trivia-background.png");*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*#index_jumbotron {*/
/*  background: rgba(0, 0, 0, 0.5);*/
/*  animation: appear 2s;*/
/*  animation-fill-mode: forwards;*/
/*  color: white;*/
/*}*/

.jumbotron {
  /*background: rgba(200, 54, 54, 0.5);*/
  animation: appear 2s;
  animation-fill-mode: forwards;
  ;
}

/*.questions {*/
/*  padding-top: 5px;*/
/*  padding-bottom: 5px;*/
/*  color: black;*/
/*}*/

@keyframes appear {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2);
        filter: blur(100px)
    }
    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1);
        filter: blur(0px)
    }
}

h2 {
  text-align: center;
}

option {
  color: black;
}
